.blog {
  &__title {
    position: relative;

    color: var(--gray);
    font-family: Furore;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 0;
    margin-bottom: 70px;
    align-self: flex-start;

    @include flex-all-center;

    @include tablet {
      margin: 0 auto;
      margin-bottom: 40px;
    }

    @include small-tablet {
      margin-bottom: 20px;
    }

    @include mobile {
      font-size: 30px;
    }

    & span {
      position: relative;
      z-index: 10;
    }

    &:before {
      content: "";
      position: absolute;
      width: 157%;
      height: 122%;
      background-image: url("../img/title-bg.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      top: -10%;
      left: -28%;
      z-index: 1;

      @include tablet {
        display: none;
      }
    }
  }

  &__swiper {
    width: 100%;
    height: 450px;

    @include mobile {
      height: 390px;
    }

    @include mini-mobile {
      height: 340px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px 0;

    &:focus {
      outline: none;
    }

    @include hover {
      background-color: var(--green);
    }

    &:active {
      background-color: var(--green);
    }
  }

  &__image {
    align-self: flex-start;
    padding: 0 8px;
    max-width: calc(100% - 16px);
    height: 310px;

    @include mobile {
      height: 250px;
    }
    @include mini-mobile {
      height: 200px;
    }
  }

  &__subtitle {
    margin-top: 8px;
    margin-bottom: 18px;
    padding: 0 8px;

    color: var(--gray);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @include mobile {
      margin: 8px 0;
    }
  }

  &__text {
    margin: 0;
    padding: 0 8px;

    color: var(--gray);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    height: 40px;

    display: -webkit-box;
    -webkit-line-clamp: 2; // количество строк
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__link {
    color: var(--gray);
    font-family: Inter;
    font-size: 31px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: flex-end;
    border-bottom: 1px solid var(--green);
    padding: 10px 13px;
    transition: background-color 0.3s ease-in-out;

    &:focus {
      outline: none;
    }

    @include hover {
      background-color: var(--green);
    }

    &:active {
      background-color: var(--green);
    }

    @include mobile {
      font-size: 16px;
      align-self: center;
      padding: 6px;
    }
  }
}

.blog__link.focus-visible {
  outline: 1px solid var(--outline-color);
  outline-offset: 3px;
}
