.spot {
  &-about {
    padding: 25px 0;

    &__container {
      display: flex;
      flex-direction: column;
      gap: 50px;

      @include small-tablet {
        gap: 30px;
      }
    }

    &__title {
      position: relative;

      color: var(--gray);
      font-family: Furore;
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      margin: 0;
      align-self: flex-start;

      @include flex-all-center;

      @include tablet {
        font-size: 36px;
      }

      @include mobile {
        margin: 0 auto;
      }

      @include mini-mobile {
        font-size: 26px;
      }

      & span {
        position: relative;
        z-index: 10;
      }

      &:before {
        content: "";
        position: absolute;
        width: 155%;
        height: 147%;
        background-image: url(../img/title-bg.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        top: -23%;
        left: -28%;
        z-index: 1;

        @include tablet {
          display: none;
        }
      }
    }

    &__descr {
      word-wrap: break-word;
      word-break: break-all;
      margin: 0;
    }

    &__block {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 40px;
      grid-row-gap: 24px;

      @include tablet {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
      }

      @include mobile {
        grid-template-columns: 1fr;
      }
    }
  }
}
